
p{
    font-family: 'Fira Code', monospace;
    letter-spacing: 1.6;
}

span{
    font-weight: bold;
}

body{
    background-color: white;
}

header{
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: #FFF3E9;
}

h1{
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 5rem;
}

h3{
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    font-size: 0.8rem; 
}

/* NAVIGATION */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

ul{ 
    list-style-type: none; 
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
    background-color: #000852;
}

/* selected link */
a:active {
    color: white;
    background-color: #000852;
}
/* NAVIGATION */

/* MAIN */
/* MAIN */

/* FOOTER */
footer{
    background-color: #FFF3E9;
}
/* FOOTER */